.blog-title
    font-size: 0.9rem
    margin-top: 1rem
    margin-left: 3rem

// styling of medium blogs
.post-title
    font-family: 'oswald'
    text-decoration: none
    color: black

.author, .read-more
    display: none
    visibility: hidden

a.post-title, a.post-image
    pointer-events: none

.blog-items-con
    display: flex
