.blog-title
    font-size: 0.9rem
    margin-top: 1rem
    margin-left: 3rem
    margin-bottom: 3rem

.blog-name
    font-family: 'oswald'
    margin-bottom: 1rem

.blog-items-con
    margin-left: 3rem
    display: flex

.blog-img
    width: 90%

.blog-item
    margin-right: 0.5rem
    border-radius: 5px
    width: 30%

.blog-link
    text-decoration: none
    color: black
    padding: 0.5rem
    font-family: open sans

.blogs-con
    margin-bottom: 3rem

// styling of medium blogs
.post-title
    font-family: 'oswald'
    text-decoration: none
    color: black

.author, .read-more
    display: none
    visibility: hidden

a.post-title, a.post-image
    pointer-events: none
