@import vars

.main-con
    display: flex

.right-con, .left-con
    width: 50%
    padding: 3rem

.salut
    margin-top: 3rem
    margin-bottom: 1rem
    @include MainFont
    @include SalutFontSize

.primary
    @include MainFont
    @include MainFontSize

.secondary
    @include AccentFontColor
    @include SecondFont
    @include SecondFontSize

.secondary-black
    @include SecondFontColor
    @include SecondFontSize
    @include SecondFont
