@import 'vars'

.proj-con
    display: flex
    @include Height100

.proj-sec
    padding: 2rem
    @include Width50
    @include TopBottomBorder(.5px, gray)

.proj-title
    margin-block-start: 1rem
    margin-block-end: 1rem
    @include SalutFontSize

.tertiary, .tertiary-black
    margin: 0.5rem 0
    @include SecondFont

.tertiary
    @include AccentFontColor

.middle-btn
    position: absolute
    left: 45.5%
    top: 50%
    padding: 2rem 1.6rem
    border-radius: 50%
    background: $RED

.proj-desc-con
    padding: 2rem
    border-left: 0.5px solid gray
    @include Width50
    @include TopBottomBorder(.5px, gray )

.proj-desc
    font-size: 1rem !important
    width: 60%

.proj-link
    text-decoration: none
    cursor: pointer
    @include AccentFontColor

.tech-con
    display: flex
    flex-direction: row
    margin-top: 1rem
    width: 100%
    flex-wrap: wrap
    justify-content: flex-start
    font-size: 0.9rem
    @include AccentFont

.tech
    margin-right: 1rem
    margin-top: 1rem

.info
    font-size: 0.9rem
    margin-top: 1rem
