@import vars

.templ-con
    display: flex
    height: 50vh

.templ-left, .templ-right
    width: 50%
    padding: 2rem

.templ-left
    border-right: 0.5px solid gray
    @include TopBottomBorder(.5px, gray)

.templ-right
    border-top: 0.5px solid gray
    border-bottom: 0.5px solid gray

.templ-desc
    margin-top: 3rem
    font-size: 1.2rem !important
    @include SecondFont
